<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>27824726+bepuvqnr@hfref.abercyl.tvguho.pbz</string>
	<key>contactName</key>
	<string>Orchid</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Owl</string>
	<key>uuid</key>
	<string>7E5A406C-4EE4-4099-B697-23051FD69809</string>
</dict>
</plist>
